<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tebanilia - Crear producto</title>
    <link rel="stylesheet" href="/styles/reset.css" />
    <link rel="stylesheet" href="/styles/layouts.css" />
    <link rel="stylesheet" href="/styles/login.css" />
  </head>
  <body>
    <header class="header1">
      <div class="header__logo">
        <a href="/"
          ><img
            src="/assets/logo_st.png"
            alt="logo_tebanilia"
            class="img__logo"
        /></a>
        <h1 class="header1__titulo">tebanilia</h1>
      </div>
      <nav class="navBar">
        <ul class="navBar__links">
          <% if (req.session.usuario) { %>
          <li>Hola, <%= req.session.usuario.nombre %>!</li>
          <li><a href="/user/logout">Cerrar sesión</a></li>
          <% } %>
        </ul>
      </nav>
    </header>
    <main class="main1">
      <section class="container">
        <form method="post" action="/products/create" class="registro">
          <div class="form-group">
            <label for="id">Código</label>
            <input name="id" id="id" type="text" class="id" required/>
          </div>
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input name="nombre" id="nombre" type="text" class="name" required/>
          </div>
          <div class="form-group">
            <label for="precio">Precio</label>
            <input name="precio" id="precio" type="text" class="price" required/>
          </div>
          <div class="form-group">
            <label for="descripcion">Detalles</label>
            <textarea name="descripcion" id="descripcion" required></textarea>            
          </div>
          <div class="form-group">
            <button type="submit">Guardar</button>
          </div>
          <div class="form-group__h4">
            <a href="/admin/profile"><h4>Regresar</h4></a>
          </div>
          <div class="form-group__error">
            <!-- Renderiza los mensajes de error si existen -->
            <% if (errors && errors.length > 0) { %>
            <ul>
              <% errors.forEach((error) => { %>
              <li><%= error.msg %></li>
              <% }); %>
            </ul>
            <% } %>
          </div>
        </form>
      </section>
    </main>
    <footer class="footer1">
      <div class="footer__logo">
        <a href="/"
          ><img
            src="/assets/logo_st.png"
            alt="logo_tebanilia"
            class="img__logo"
        /></a>
        <h3 class="footer__titulo">tebanilia</h3>
        <p class="footer__copyright">Copyrigth 2023</p>
      </div>
    </footer>
  </body>
</html>
