<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tebanilia - Productos</title>
    <link rel="stylesheet" href="/styles/reset.css" />
    <link rel="stylesheet" href="/styles/layouts.css" />
    <link rel="stylesheet" href="/styles/details.css" />
  </head>
  <body>
    <header class="header1">
      <div class="header__logo">
        <a href="/"
          ><img
            src="/assets/logo_st.png"
            alt="logo_tebanilia"
            class="img__logo"
        /></a>
        <h1 class="header1__titulo">tebanilia</h1>
      </div>
      <nav class="navBar">
        <ul class="navBar__links">
          <% if (req.session.usuario) { %>            
            <li>Hola, <%= req.session.usuario.nombre %>!</li>
            <li><a href="/user/logout">Cerrar sesi칩n</a></li>
          <% } %>
        </ul>
      </nav>
    </header>
    <main class="main1">
      <section class="container">
        <article class="product_detail">
          <img
            src="/assets/saborMedio.png"
            alt="aceite oliva extra virgen"
            class="product_detial__img"
            loading="lazy"
          />
          <h2 class="product_detail__titulo">Blend Sabor Medio</h2>
          <p class="product_detail__subt">Bivarietal Arbequina Picual</p>
          <p class="product_detail__res">
            Es un aceite equilibrado y estable por su alto contenido en 치cido
            oleico y concentraci칩n de polifenoles. Se destaca como cualidad la
            persistencia de su sabor, con un resultado en boca de ligero amargor
            picante. De aromas delicados, con notas herb치ceas, de banana y
            frutos maduros. Muy apropiado para potenciar sabores preparados en
            crudo, ensaladas y cualquier plato que requiera de un sabor intenso
            con ciertos aromas frutados.
          </p>
          <p class="product_detail__subt">Precio: $1800</p>
          <div class="btn__container">
            <a href="/products/cart"><button class="btn__carrito">
              <img src="/assets/icon_cart.png" alt="carrito" />
            </button></a>
          </div>
        </article>
      </section>
    </main>
    <footer class="footer1">
      <div class="footer__logo">
        <a href="/"
          ><img
            src="/assets/logo_st.png"
            alt="logo_tebanilia"
            class="img__logo"
        /></a>
        <h3 class="footer__titulo">tebanilia</h3>
        <p class="footer__copyright">Copyrigth 2023</p>
      </div>
    </footer>
  </body>
</html>
