.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-left: 5px;
    padding-right: 5px;    
    padding-bottom: 30px;
  }
  
  .img__producto {
    max-width: 65%;
    border-radius: 5%;
    box-shadow: var(--img-box-shadow);
  }
  
  .card__titulo{
      font-size: 1rem;
      font-weight: bold;
      font-style: oblique;
      padding-top: 5px;
  }
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: calc(25% - 20px);
    padding-bottom: 20px;
    box-sizing: border-box;
  }
  
  .btn__container {
      width: 200px;
      display: flex;
      justify-content: space-evenly;
      margin-top: 5px;
    }
    
    .btn__carrito {
      background-color: var(--btn-cart-color);
      border-radius: 7px;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 0px;
      padding-bottom: 0px;
    }
    
    .btn__vermas {
      background-color: var(--btn-detalle-color);
      border-radius: 7px;
      padding: 8px;
      font-size: 14px;
      font-weight: bold;
      width: 100px;
    }

    .btn__editar {
      background-color: var(--btn-editar-color);
      border-radius: 7px;
      padding: 8px;
      font-size: 14px;
      font-weight: bold;
      width: 90px;
    }
  
  @media screen and (max-width: 768px) {
    .card {
      flex-basis: calc(50% - 20px);
    }
  }
  
  @media screen and (max-width: 480px) {
    .card {
      flex-basis: 100%;
    }
  }