.img__producto_size{
    max-width: 65%;
}

.img__producto_border{
    border-radius: 5%;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
    0 0  0 2px rgb(255,255,255),
    0.3em 0.3em 1em rgba(0,0,0,0.3);;
}