@import url("https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

:root,
* {
  padding: 0;
  margin: 0;
  font-family: Aleo;
}

@font-face {
  font-family: "selima";
  src: url("/fonts/Selima\ .ttf");
}

li {
  list-style: none;
}

.header1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #bc4b51;
  height: auto;
}

.header_logo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.header1__titulo {
  font-family: "selima";
  font-size: 2.5rem;
  color: #d1ffcce3;
  padding: 0;
}

.navBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.navBar__links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
}

.main1 {
  background-color: #5b8e7d;
}

.banner {
  display: flex;
  justify-content: space-around;
  background-color: #8cb369;
  height: 120px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.img__logo {
  width: 3rem;
}

.img__banner {
  border-radius: 10%;
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-right-width: 1px;
  border-right-style: solid;
  border-left-width: 1px;
  border-left-style: solid;
  margin-right: 1px;
  margin-left: 1px;
}

/* Cuando pasa a desktop */
@media (min-width: 600px) {
  .header1 {
    flex-direction: row;
    justify-content: space-between;
    background-color: #bc4b51;
    height: auto;
  }

  .header1__titulo{
    padding: 1rem;
  }

  .header_logo{
    flex-direction: row;  
  }

  .navbar {
    flex-direction: row;
    justify-content: space-between;
  }

  .navBar__links {
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
  }
}
