@import url("https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

:root,
* {
  padding: 0;
  margin: 0;
  font-family: Aleo;
  --header-footer-color: #bc4b51;
  --main-background-color: #5b8e7d;
  --banner-background-color: #8cb369;
  --login-background-color: #ffb9b991;
  --tebanilia-text-color: #d1ffcce3;
  --btn-cart-color: #f4a259;
  --btn-detalle-color: #f4e285;
  --img-box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

body {
  min-width: 290px;
}

@font-face {
  font-family: "selima";
  src: url("/fonts/Selima\ .ttf");
}

a :visited{
  color: black;
}

li {
  list-style: none;
}

.header1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--header-footer-color);
  height: auto;
}

.header__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.header1__titulo {
  font-family: "selima";
  font-size: 2.5rem;
  color: var(--tebanilia-text-color);
  padding: 0;
}

.navBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.navBar__links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
}

.main1 {
  background-color: var(--main-background-color);
}

.banner {
  display: flex;
  justify-content: space-around;
  background-color: var(--banner-background-color);
  height: 120px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.productos__titulo {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.img__logo {
  width: 3rem;
}

.footer1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--header-footer-color);
  height: auto;
}

.footer__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.footer__titulo {
  font-family: "selima";
  font-size: 1.5rem;
  color: var(--tebanilia-text-color);
  padding: 0;
}

.footer__copyright {
  font-size: 0.6rem;
}

/* Cuando pasa a desktop */
@media (min-width: 600px) {
  .header1 {
    flex-direction: row;
  }

  .header1__titulo {
    padding: 1rem;
  }

  .header__logo {
    flex-direction: row;
  }

  .navbar {
    flex-direction: row;
    justify-content: space-between;
  }

  .navBar__links {
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
  }

  .footer1 {
    flex-direction: row;
  }

  .footer__logo {
    flex-direction: row;
  }

  .footer__copyright {
    font-size: 0.8rem;
    padding-left: 1rem;
  }
}
